.spinner{
  font-size: 140px;
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}
.spinner:after {
  content: '◌'; /* ◌ */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
  display: inline-block;
}

#chart {
    border: 1px solid black;
}