.spinner{
  font-size: 140px;
}
.spinner:after {
  content: '◌';
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin {
  animation: spin 1s linear infinite;
}

#chart {
    border: 1px solid black;
}
