.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  line-height: 140px;
  margin-top: 100px;
  margin-left: 100px;
}

.spinner{
  font-size: 140px;
  display: inline-block;
  width: 140px;
  height: 140px;
}
.spinner:after {
  content: '◌';
} 


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
  transform-origin: center center;
  display: inline-block;
}

#chart {
    border: 1px solid black;
}